<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Expenses</span>
</nav>
<div class="container">
  <app-card>
    <div header class="d-flex justify-content-between">
      <span class="card-title">New expense</span>
      <button type="submit" class="btn btn-outline-primary" (click)="form.addExpense()" [disabled]="form.expenseForm.invalid">Submit</button>
    </div>
    <app-expenses-form content #form="expenseFormComponent" (newExpense)="addExpenseToList($event)"></app-expenses-form>

  </app-card>
  <app-card>
    <input header class="form-control" placeholder="search expenses" [formControl]="search" />
    <app-expenses-list content [expenses]="expenses$ | async"></app-expenses-list>
  </app-card>
</div>