<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Expenses</span>
</nav>
<div class="container">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      <span class="card-title">New expense</span>
      <button type="submit" class="btn btn-outline-primary" (click)="form.addExpense()" [disabled]="form.expenseForm.invalid">Submit</button>
    </div>
    <div class="card-body">
      <app-expenses-form #form="expenseFormComponent" (newExpense)="addExpenseToList($event)"></app-expenses-form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <input class="form-control" placeholder="search expenses" [formControl]="search" />
    </div>
    <app-expenses-list [expenses]="expenses | search : (search$ | async)"></app-expenses-list> 
  </div>
</div>
